@use "/src/colors" as *;
@use "/src/util";
@use "/src/screen" as *;

.section.algorithm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include wrap-lg;
  @include center-lg;
}

.algo-text {
  flex: 0 1 50%;
  padding: 2em;
  align-self: center;
  color: black;
}

.algo-img {
  flex: 0 0 40%;
  min-width: 35em;
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
  padding: 3em;
  height: auto;
  align-self: center;
  @include large {
    max-width: 80%;
    margin: 0;
  }
}
