@use "/src/colors" as *;
@use "/src/util";
@use "/src/screen" as *;

.section.apps {
  background-color: $content-bg;
  border-radius: 3em;
  color: $text-dark;
  padding: 2em;
  @include medium {
    text-align: center;
  }
}
.apps-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.apps-text {
  flex: 1 1 60%;
  color: $text-dark;
  hr {
    margin: 1.5em 0em;
  }
  @include large {
    hr {
      margin: 2em 0em;
    }
  }
}
.apps-img {
  flex: 0 0 20em;
  display: flex;
  justify-items: right;
  img {
    display: block;
    margin-left: auto;
    padding-left: 3em;
    padding-right: 3em;
    width: 100%;
    height: auto;
    align-self: center;
  }

  @include large {
    display: none;
  }
}
.features-intro {
  max-width: 35em;
}
.apps-header {
  color: $text-dark;
}
.apps-caption {
  color: $text-dark-muted;
  width: 70vw;
  padding-top: 2em;
}

.apps sup {
  color: $text-dark;
}
.apps-img {
  width: 70vw;
}

.apps-feature {
  display: flex;
  @include wrap-md;
  @include center-md;

  @include medium {
    align-content: center;
  }
}
.apps-feature-cell {
  flex: 0 0 30%;
  margin-right: 2em;
  @include medium {
    max-width: 70%;
    margin: 0;
  }
}
.apps-feature-img {
  height: 3em;
  width: auto;
  @include medium {
    height: 5em;
  }
}
.apps-feature-header {
  color: $primary;
  font-size: 1.5em;
}
.apps-feature-caption {
  color: $text-dark-muted;
  font-size: 1.4em;
}
