@use "/src/colors" as *;
@use "/src/screen" as *;
.section-container {
  position: relative;
  color: $text-dark !important;
  background-color: $content-bg;
  border-radius: 50px 0px 0px 0px;
  margin-left: 2em;
  width: calc(100% - 2em);
  padding: 2em;
  @include adjust-padding(0em, 0.5em, 1em);
  z-index: 1;
}

@include medium {
  .section-container {
    margin-left: 0;
    width: 100%;
  }
}
