@use "../colors" as *;
@use "../util";

.section.algorithm {
  width: 100%;
  flex-direction: column;
  background-color: #FFFF;
  color: $text-dark;
  padding: 2em;
}
.algorithm-text {
  flex: 1 1 50%;

  align-self: center;
  color: $text-dark;
}
.algorithm-header {
  color: $text-dark;
}
.algorithm-caption {
  color: $text-dark-muted;
  width: 70vw;
  padding-top: 2em;
  text-align: left;
}

sup {
  color: $text-dark;
}
img.algo {
  width: 70vw;
}
