@use "../util";
@use "../colors" as *;
.App {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: linear-gradient(to right, $primary, $secondary);
  overflow-x: hidden;
  overflow-y: scroll;
}
