.section.footer {
  display: flex;
  background-color: #f2f8ff;
  color: black;
  padding: 2em;
  margin-left: 2em;
  position: relative;
  z-index: 1;

}

@media only screen and (max-width: 768px) {
  .section.footer {
    display: block;
    background-color: white;
    color: black;
    padding: 3%;

  }
}

.footer-div {
  flex: 1;
  margin: 6%;
  height: 25vh;
  margin-top: 5em;
}

.footer-text-space {
  flex: 1;
  margin-top: 15%;
}

@media only screen and (max-width: 768px) {
  .footer-div-space {
    margin: 6%;
    margin-top: 10em;
    height: 25vh;
  }
}

.footer-text {
  display: block;
  flex: 1;
  color: black;
}