.logo {
  position: absolute;
  height: 80%;
  right: 0;
  top: 10%;
  overflow: hidden;
  z-index: -1;
}
@media only screen and (max-width: 768px) {
  .logo {
    position: absolute;
    height: 80%;
    right: 0;
    top: 20%;
    overflow: hidden;
    z-index: -1;
  }
}
.logo img {
  width: 100%;
  height: auto;
  transition: transform 0.7s ease-out;
}
.logo img:hover {
  transform: scale(1.1);
}
