img.beatAnimation {
  position: absolute;
  width: 50%;
}
img.beatAnimation:focus,
.beatAnimation:hover {
  animation: beat 1s 1;
}
@keyframes beat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
