@use "../colors" as *;
@use "../util";
@use "../screen" as *;

.navbar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  flex-direction: row;
  font-weight: 600;
  color: $nav-primary;
  padding: 1em 3em;
  padding-top: 1.5em;
  a {
    color: inherit;
    text-decoration: none;
  }
}
.nav-gradient {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, $primary calc(2em + 100px), $secondary);
}

.nav-brand {
  justify-self: left;
  flex: 1 1 1;
  margin-right: 2em;
  font-size: 2.2em;
  font-weight: 700;
  z-index: 0;
}

.nav-links {
  display: flex;
  flex: 0 1 1;
  flex-direction: row;
  align-items: center;
  justify-self: right;
  justify-content: space-between;
  z-index: 0;
  // Dropdown
  @include small {
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 20em;
    top: -20em;
    left: 0;
    z-index: -2;
    transition: top 0.5s ease-in-out;
    padding: 0.5em;
    border-radius: 3em;
    border-top-right-radius: 0;
    justify-content: center;
    align-items: center;
    background: $nav-dropdown-bg;
    box-shadow: 1px 1px 5px #0004;
    .nav-item {
      color: $nav-dropdown-text;
      margin: 0.3em;
      font-size: 1.5em;
    }
    .nav-item a.active,
    .nav-item a:hover {
      color: $nav-dropdown-active;
    }
    .nav-btn-div {
      width: 100%;
      margin: 0.3em;
      font-size: 2em;
    }

    &[expand] {
      top: 100%;
      bottom: auto;
      display: flex;
    }
  }
}

.nav-item {
  text-align: center;
  flex: 0 1 1;
  font-size: 1.4em;
  margin-right: 1em;
  @include adjust-font-size(0.8em, 1em, 1.2em);
}

.nav-btn-div {
  text-align: center;
  flex: 0 0 0;
  font-size: 1.3em;
  min-width: max-content;
  margin-left: 0.5em;
}

.nav-btn {
  font-size: 1.1em !important;
  font-weight: 600 !important;
  box-shadow: none !important;
  border: none !important;
  @include small {
    font-size: 0.8em !important;
    font-weight: 600 !important;
    box-shadow: none !important;
    border: none !important;
  }
}

.nav-item a {
  transition: color 0.2s ease;
}

.nav-item a.active,
.nav-item a:hover {
  color: $nav-active;
}

// very cool curved edge effect
.navbar::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 2em;
  width: 50px;
  height: 50px;
  border-top-left-radius: 50px;
  background-color: transparent;
  box-shadow: -25px -25px 0px 25px $primary;
  z-index: -1;

  @include medium {
    left: 0;
  }
}

.hamburger {
  display: none;
  position: relative;
  padding: 0;
  cursor: pointer;
  @include small {
    width: 2em;
    height: 3em;
    display: block;
    border: none;
    background-color: transparent;
  }
}
.hamburger-icon,
.hamburger-icon::before,
.hamburger-icon::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 2px;
  width: 100%;
  background-color: white;
  left: 0;
}
.hamburger-icon {
  top: 45%;
  height: 10%;
}

.hamburger-icon::before {
  top: 200%;
  height: 100%;
  background-color: inherit;
}
.hamburger-icon::after {
  bottom: 200%;
  height: 100%;
  background-color: inherit;
}

.hamburger:hover .hamburger-icon {
  background-color: $text-muted;
}
