@use "../colors" as *;

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    flex-direction: row;
    overflow: hidden;
    z-index: -1;
}

.navbar-text {
    flex: 1 1 50%;
    padding: 2em;
    align-self: center;
}

ul {
    list-style-type: none;
    margin: inherit;
    padding: 0;
    // overflow: hidden;
    background-color: transparent;
    margin: 2%;
}

li {
    float: right;

    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
}

.li2 {
    display: block;
    color: white;
    text-align: left;
    font-weight: 700;
    font-size: xx-large;

    text-decoration: none;
    float: left;
}
.smaller {
    font-size: smaller;
    width: 15vw;
   
}
.larger {
    font-size: larger;

}

li a:hover {
    background-color: $secondary;
}

#box1 {
    background: #101010;
    border-radius: 25px;
    margin: 10px;
    border-radius: 25px;
    background: #A1D8FD;
    padding: 2px;
    width: 190px;
    height: 40px;
    float: right;
}

.li3 {
    display: block;
    color: white;
    text-align: center;
    font-size: large;
    padding: 10px 10px;
    text-decoration: none;
    float: left;
}