@use "../colors" as *;
@use "../util";

.section.people {
  padding: 2em;
}
.people-text {
  flex: 1 1 50%;

  align-self: center;
  color: $text-dark;
}
.people-header {
  color: $text-dark;
}
.people-caption {
  color: $text-dark-muted;
  width: 70vw;
  padding-top: 2em;
  text-align: left;
}

.people-sup {
  color: $text-dark;
}
.people-img {
  width: 70vw;
}

.people-feature {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .people-feature {
    display: block;
  }
}
.people-feature-cell {
  width: 45vw;
}
.people-feature-img {
  width: 5vw;
  height: 5vw;
  border-radius: 20%;
}
@media only screen and (max-width: 768px) {
  .people-feature-img {
    width: 7vw;
    height: 7vw;
    margin-top: 20%;
  }
}
.people-feature-header {
  color: $primary;
}
.people-feature-caption {
  width: 15vw;
  color: $text-dark-muted;
  padding-top: 2em;
  text-align: left;
}
@media only screen and (max-width: 768px) {
  .people-feature-caption {
    width: 65vw;
    color: $text-dark-muted;
    padding-top: 2em;
    text-align: left;
  }
}
