@use "/src/colors" as *;
.blog-index {
  padding: 2em;
}

.blog-post-feature-img {
  width: 100%;
  height: 20em;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 3em;
  background-image: url("/src/res/default-blog-img.png");
}

.blog-post {
  padding: 0em 10em;
}

.blog .section-container {
  padding: 0;
  .section {
    background-color: white;
  }
}
