/**
* _colors.scss
*
* A partial stylesheet for storing colors used across the website.
* To use a color from here, write
*
*       @use "../colors" as *;
*
* in your component's stylesheet.
**/

// Base colors, for backgrounds
$primary: #1578ec;
$secondary: #65cafa;

// For main content, for contrast between sections
$content-bg: white;
$content-bg-blue: #f2f8ff;

// Text colors
$text-primary: #fff;
$text-muted: #fffc;
$text-dark: #111;
$text-dark-muted: rgba(17, 17, 17, 0.664);

//Buttons
$btn-primary: $primary;
$btn-secondary: #22a2ff;
$btn-cta: #fff;
$btn-cta-text: $primary;
$btn-text: $text-primary;

// Navbar colors
$nav-primary: $text-primary; // Normal navbar text (inactive links)
$nav-active: $text-muted; // Active navbar text (active links)
$nav-btn: $btn-primary; // Navbar action button background color
$nav-dropdown-bg: rgb(255, 255, 255);
$nav-dropdown-text: rgb(133, 133, 133);
$nav-dropdown-active: rgb(0, 0, 0);
