/**
* _font.scss
*
* Contains definitions for font sizes and styles.
*
* This should not be included by any component stylesheet, and is already included in index.scss.
*
**/

@use "./colors" as *;

@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;600&family=Nunito:wght@300;400;700;800;900&display=swap");

* {
  font-family: "Nunito", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

hr {
  opacity: 0.2;
}
:root {
  color: $text-primary;
}

.section-header {
  font-size: 3em;
  font-weight: 900;
}

.muted {
  color: $text-muted;
}
.light.muted,
.light .muted {
  color: $text-dark-muted;
}

p {
  font-size: 1.2em;
}
